:root {
  --gray: #9e9e9e;
  --dgray: #777;
  --white: #ffffff;
  --teal: #2a9d8f;
  --red: #e63946;
  --blue: rgb(34, 83, 184);
  --black: rgb(52, 52, 52);
  --yellow: #ffbe0b;
  --orange: #ff6b35;
  --bluesky: #caf0f8;
}

#academyMaplastback {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
#academyMap {
  position: relative;
  width: 80%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

// 타이틀
#academyMaptext {
  position: relative;
  z-index: 5;
  font-size: 30px;
  font-weight: 300;
  width: 100%;
  margin: 20px 0;
}

#academyMaptext span {
  font-size: 20px;
  font-weight: 200;
}
#academyMapBox {
  position: relative;
  z-index: 5;
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 40px;
}

#academyMapImg {
  width: 50%;
  min-width: 500px;
  height: 400px;
  background-color: var(--yellow);
}

#academyMapImg2 {
  width: 50%;
  min-width: 500px;
  height: 400px;
  background-color: var(--yellow);
}

#academyMapImgtext {
  width: 50%;
  min-width: 420px;
  background-color: #e5e5e5; // #e5e5e5
  padding: 40px 40px;
  box-shadow: var(--dgray);
}

// 글상자 목록
#academyMapbox {
  display: flex;
  margin-bottom: 10px;
  height: 50%;
}

#academyMapsubbox {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-weight: bold;
  // color: lightgray;
}

.academyMapsubNav {
  display: flex;
  align-items: center;
  height: 30px;
}

.academyMapsubNavTit {
  font-weight: 500;
  width: 80px;
}

.academyMapsubNavsub {
  font-size: 14px;
  font-weight: 300;
}

//지하철역
.academyMapsubNav2 {
  display: flex;
  align-items: center;
  height: 60px;
}

#academyMapsubstation {
  display: flex;
  align-items: flex-start;
}

#academyMapsubstation2 {
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  display: flex;
}

#academyMapsubstation3 {
  font-size: 14px;
  // padding-left: 10px;
  line-height: 20px;
  font-weight: 300;
  display: flex;
}

// | 색상변경
.academyMapi {
  color: var(--gray);
}

//이미지 삽입칸
#academyMapsubbox2 {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
//작은 학원 이미지
.academyMapMinimg {
  width: 120px;
  height: 120px;
  margin-right: 10px;
}

.academyMapMinimg2 {
  width: 250px;
  height: 120px;
}

//번호 원 만들기
.academyMapStationnum2 {
  width: 18px;
  height: 18px;
  background-color: #33a23d;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
  font-weight: bold;
  margin: 0 10px;
}

.academyMapStationnum1 {
  width: 18px;
  height: 18px;
  background-color: #0d3692;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
  font-weight: bold;
  margin: 0 10px;
}

.academyMapStationnumsin {
  width: 60px;
  height: 18px;
  background-color: #c82127;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
  font-size: 12px;
  font-weight: bold;
  margin: 0 10px;
}

#academyMapMarker {
  width: 152px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#academyMapMarker2 {
  width: 152px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
