:root {
  --gray: #9e9e9e;
  --dgray: #777;
  --white: #ffffff;
  --teal: #2a9d8f;
  --red: #e63946;
  --blue: rgb(34, 83, 184);
  --black: rgb(52, 52, 52);
  --yellow: #ffbe0b;
  --orange: #ff6b35;
  --bluesky: #caf0f8;
}

#academylinktit {
  font-size: 100px;
  color: var(--blue);
  font-weight: bold;
  letter-spacing: 8px;
}
