:root {
  --gray: #9e9e9e;
  --dgray: #777;
  --white: #ffffff;
  --teal: #2a9d8f;
  --red: #e63946;
  --blue: rgb(34, 83, 184);
  --black: rgb(52, 52, 52);
  --yellow: #ffbe0b;
  --orange: #ff6b35;
  --bluesky: #caf0f8;
}

/* 박스 정렬 */
.loginform {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* flex-direction: column; */
}

.loginmainback {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  z-index: 200;
}

/* 회원가입 버튼 */
#loginbtn {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 30px;
  background-color: var(--blue);
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  color: var(--white);
  cursor: pointer;
  z-index: 200;
}

/* 로그인 타이틀 박스 */
#logintit {
  font-size: 20px;
  color: var(--blue);
  font-weight: bold;
  margin-bottom: 40px;
}

/* 아이디 비밀번호 inputbox  */
.loginbox {
  display: block;
  color: rgba(0, 0, 0, 87);
  width: 100%;
  margin-top: 5px;
}

.loginlabel {
  height: 16px;
  font-weight: bold;
  font-size: 12px;
  color: var(--red);
  /* visibility: hidden; */
}

.logininput {
  display: block;
  font-size: 1rem;
  color: black;
  line-height: 1.9;
  transition: all 0.28s ease;
  box-shadow: none;
  border: none;
  width: 100%;
  outline: none;
}

.logini {
  height: 2px;
  background-color: var(--gray);
  width: 100%;
}

/* 체크 박스  */
#logincheckbox {
  width: 100%;
  margin-top: 10px;
  /* margin-bottom: 10px; */
  display: flex;
  align-items: center;
}

/* 검증 문구 박스 */
#loginhidbox {
  font-size: 12px;
  color: var(--red);
  font-weight: bold;
  margin-bottom: 10px;
  /* visibility: hidden; */
}
/* span 박스 */

#loginspanbox {
  font-size: 12px;
  color: var(--gray);
  cursor: pointer;
}

/* 버튼 박스 */

#loginbtnbox {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 30px;
  position: relative;
  z-index: 200;
}

.loginbtn2 {
  width: 100%;
  height: 40px;
}

#loginbtn2 {
  margin-bottom: 10px;
}
