:root {
  --gray: #9e9e9e;
  --dgray: #777;
  --white: #ffffff;
  --teal: #2a9d8f;
  --red: #e63946;
  --blue: rgb(34, 83, 184);
  --black: rgb(52, 52, 52);
  --yellow: #ffbe0b;
  --orange: #ff6b35;
  --bluesky: #caf0f8;
}

#mystudymain {
  width: 100%;
}

#mystudymainback {
  padding-top: 75px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

//헤더
#mystudymainhd {
  position: relative;
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 100px;
}

// 이미지 박스
#mystudymainimgbox {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#mystudymainimg {
  width: 100%;
  height: 100%;
}

//헤더백
#mystudymainhdback {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: var(--black);
  opacity: 0.5;
}

// 텍스트 박스
#mystudymaintextbox {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
