:root {
  --gray: #9e9e9e;
  --dgray: #777;
  --white: #ffffff;
  --teal: #2a9d8f;
  --red: #e63946;
  --blue: rgb(34, 83, 184);
  --black: rgb(52, 52, 52);
  --yellow: #ffbe0b;
  --orange: #ff6b35;
  --bluesky: #caf0f8;
}

#part3back {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#part3backimgbox {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

#part3backimg {
  width: 100%;
  height: 100%;
}
#part3back2 {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--black);
  opacity: 0.8;
  z-index: 2;
}

//part3box

#part3box {
  position: relative;
  z-index: 3;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#part3textbox {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#part3texttit {
  color: var(--white);
  font-size: 40px;
  letter-spacing: 8px;
  margin-bottom: 20px;
}

#part3texttitspan {
  margin-left: 20px;
}

.part3textlabel {
  font-size: 12px;
  color: var(--white);
  margin-top: 10px;
}

// part3slidbox
#part3slidbox {
  width: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

//버튼 박스
#part3slidbtnbox {
  display: flex;
}

.part3slidbtn {
  width: 50px;
  height: 10px;
  margin: 0 5px;
  background-color: var(--white);
  outline: none;
  border: none;
  cursor: pointer;
}

.part3slidbtn:hover {
  background-color: #caf0f8;
}

#part3slidtext {
  width: 100%;
  height: 400px;
  margin-top: 20px;
}

#part3slid {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  width: 1000px;
  height: 400px;
  position: relative;
  left: 0;
}

//슬라이드 변환
#part3slidch {
  position: absolute;
  left: 0;
  width: 0;
  height: 400px;
  overflow: hidden;
}

//두번째 슬라이드
#part3slid2 {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  width: 1000px;
  height: 400px;
  position: relative;
  right: 0;
}

//슬라이드2 변환
#part3slidch2 {
  position: absolute;
  right: 0;
  width: 0;
  height: 400px;
  overflow: hidden;
}

.part3slidli {
  width: 240px;
  height: 400px;
  margin-right: 10px;
}

//슬라이드 이미지
.part3slidimg {
  width: 240px;
  height: 200px;
}

.part3slidboxin {
  width: 240px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.part3intit {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

.part3insub {
  font-size: 12px;
  margin-bottom: 10px;
}

.partinlabel {
  font-size: 14px;
}

//슬라이드 마지막 박스
.part3slidlilast {
  width: 240px;
  height: 400px;
}

//이미지
.curricardimg {
  width: 100%;
  height: 100%;
}

// 눈 조회수
#mainpart3cardeye {
  position: absolute;
  bottom: 48px;
  color: lightgray;
  align-items: center;
  justify-content: space-around;
  display: flex;
  z-index: 10;
}
